
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

ul{
    display: flex;
    justify-content: end;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.trips{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
   width:50%;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hoverButtons{
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.firstButton:hover{
    background-color: blue;
}

.secondButton:hover{
    scale: 3;
}

@media (max-width:426px) {
    body {
        background-color: beige;
    }
    .card {
        flex-direction: column;
    }
}








 
      
      
  
