

nav{
    display: flex;
    justify-content: end;
}

ul{
    display: flex;
    gap: 20px;
}
li{
    list-style-type: none;
}

h1{
    .ponomar-regular {
        font-family: "Ponomar", system-ui;
        font-weight: 400;
        font-style: normal;
      }
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{   
    .roboto-mono-uniquifier {
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style:normal;
      }
      color: blue;
      display: flex;
      justify-content: center;
      align-items: center;
}


.section{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundFeature{
    background-image: url(ricardo-resende-S07ipcMrVLw-unsplash\ \(1\).jpg);
    background-position: center;
}
.trips{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tripCard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Card{
    border: 3px solid black;
    border-radius: 10px;
    max-width: 300px;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.hoverButtons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.firstButton:hover{
    background-color: blue;
}

.secondButton:hover{
    scale: 3;
}

@media (max-width:426px) {
    body {
        background-color: beige;
    }
    .card {
        flex-direction: column;
    }
}








 
      
      
  
