

.section{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.backgroundFeature{
    background-image: url();
    background-position: center;
}
.trips{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tripCard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Card{
    border: 3px solid black;
    border-radius: 10px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:426px) {
    body {
        background-color: beige;
    }
    .card {
        flex-direction: column;
    }
}


 
      
      
  
